<!doctype html>
<html>
<head>
  <title>Test'em</title>
  <link rel="stylesheet" href="/testem/jasmine2.css">
</head>
<body>
  <div><p>&nbsp;&nbsp;&nbsp;&nbsp;Test'em : custom page : Jasmine 2 + Angular.js</p></div>


  <div id="jasmine_content"></div>

  <div id="to_jquery"></div>

  <!-- js scripts -->

  <script src="/testem/jasmine2.js"></script>
  <script src="/testem/jasmine2-html.js"></script>
  <script src="/testem/jasmine2-boot.js"></script>
  <script type="text/javascript">
  (function() {
    'use strict';
    window._executeLater = window.onload;
    window.onload = function() {};
  })();
  </script>
  <script src="/testem.js"></script>


  {{#serve_files}}<script src="{{src}}"{{#attrs}} {{&.}} {{/attrs}}></script>{{/serve_files}}


  <script type="text/javascript">
  (function() {
    'use strict';
    window._executeLater();
  })();
  </script>
</body>
</html>
