extends layout

block content
  h1= title
  p Welcome to #{title}

  p 
    a(href='/namespace') /namespace
  p
    a(href='/namespace/1') /namespace/1
  p
    a(href='/namespace/10/view') /namespace/10/view